CSS
/* Center search input in navbar
====================================*/

body{
    background-color: black;
}

.navbar-collapse {
  justify-content: center;
  input {
    max-width: 20rem;
  }
}

.bg-dark {
  background-color: #111 !important;
}

#navbarSupportedContent{
  padding-left:0;
  margin-left: 0;
}

#navbarDropdownMenuLink{
  padding-right: 0;
  margin-left: 15%;
}

.nav-link{
  color: maroon;
}
.nav-link:hover{
  color: goldenrod;
}

/*******SEARCH RESULTS CSS**********/
.item{
    transition-duration: .7s;
    transition-timing-function: linear;
    font-family: 'Slabo 27px', serif;
}

.item:hover {
    font-size: 1.1em;
}

/** Attraction radio buttons
=======================================*/
.form-group {
  color: #f3f3f3;
  margin-left: 2rem;
}

#searchResults {
    background-color: rgba(270,150,150,0.3);
}

#searchResults a{
    color: red;
    font-family: 'Slabo 27px', serif;
}

.navbar {
  margin:0;
  padding:0;
}

/*OTHER*/
p{
  color: white;
}

.btn-warning {
  background-color: brown !important;
}
.navbar-brand{
  margin: 0;
  padding: 0;
}


/*********IMAGE SETTINGS**********/
.img-thumbnail {
  padding: 0;
  border: 0;
  width: 100%;
  height: 10rem;
  z-index: -50;
}

.bkimg{
    background-image: url("../../images/jf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img {
  background-image: url("../../images/map6.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 10rem;
  opacity: 1;
}

.col-4 {
  padding: 0.1rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
    transition: all 0.75s ease-in-out;
}

.img-wrapper:hover {
    box-shadow: inset 0 0 25px #000000;
}

/* Map links and transition on hover
===========================================*/
a.img-content {
  position: absolute;
  align-self: center;
  text-decoration: none;
  color: #f3f3f3;
  border-bottom: 1px solid transparent;
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.05S ease-in-out;
   font-family: 'Cinzel', serif;
}

a.img-content:hover {
  border-bottom: 3px solid maroon;
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.75 ease-in-out;
    color: darkgoldenrod;
    font-size: 1.5em;
}

/* Creates small padding between attraction list and map.
============================================================*/
.item {
  padding-right: 1rem;
}


@media screen and (max-width: 980px) {
  html {
    font-size: 2.1rem;
  }
    .footer{
        font-size: .5em;
    }
}

#searchResults {
  max-height: 500px !important;
  overflow-y: auto;
}

/*********MAP GRID**************/

.map-grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 10rem;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-row {
  display: flex;
  justify-content: space-around;
}

.pin {
  width: 100px;
}

/*********FOOTER**************/
.footer {
  background-color:rgba(200,50,50,0.8);
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
    color: red;
    margin: 0;
    padding: 0;
}

.footer p span {
    width: 50%;
    margin: 0;
    padding: 0;
}
.footer p{
    font-size: 1.7em;
    font-family: 'Cinzel', serif;
    color: black;
    margin: 0;
    padding: 0;
}

#demo {
  color: rgb(239, 218, 83);
  padding-right: 15px;
  font-family: 'Ubuntu', sans-serif;
}


@media screen and (max-width: 1200px){
  .footer{
    display: none;
  }
}


/////////////////////FANG///////////////////////



.itinerary {
  float: left;
  margin-left: 10%;
}
.firebase {
    display:block;
    float:right;
    max-width: 500px;
    max-height: 200px !important;
    overflow-y: auto;

}
.card {


  margin-bottom: 1em;
  color:red;
  margin-left: 10%;

  opacity: .8;
  h4 {
    color:black;
  }
  label{
    font-size:1.3em;
  }
}
fieldset.itinerary-form {

    text-align: right;
    color:yellow;
    font-weight:bolder;
    border:3px solid black;
    display:inline-block;
    padding-left:7%;
    padding-right:7%;

    #addbutton {
      margin-bottom: 1em;
      margin-right: 25%;
    }
    input{
      margin-right: 5em;
    }
    #album-name{

      margin-right: 23%;
    }
    legend{
      text-align: center;
    }
}


html {
  height: 100vh;
}

/*ADJUSTS MODAL SHIFT*/
.modal-open{
    padding-right: 0 !important;
    overflow-y: none;
}
.timeago {
  width: 10px;
  height:10px;

}
