CSS
/* Center search input in navbar
====================================*/

body{
    background-color: black;
}

.navbar-collapse {
  justify-content: center;
  input {
    max-width: 20rem;
  }
}

.bg-dark {
  background-color: #111 !important;
}

/*******SEARCH RESULTS CSS**********/
.item{
    transition-duration: .7s;
    transition-timing-function: linear;
}

.item:hover {
    font-size: 1.1em;
}


/*OTHER*/
p{
  color: yellow;
}

.btn-warning {
  background-color: yellow !important;
}

#searchResults a{
    color: red;
}

/*********IMAGE SETTINGS**********/
.img-thumbnail {
  padding: 0;
  border: 0;
  width: 100%;
  height: 10rem;
  z-index: -1;
}

.bkimg{
    background-image: url("../../images/jf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.img {
  background-image: url("../../images/map6.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 10rem;
    opacity: .85;
}

.col-4 {
  padding: 0.1rem;
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

/* Map links and transition on hover
===========================================*/
a.img-content {
  position: absolute;
  align-self: center;
  text-decoration: none;
  color: #f3f3f3;
  border-bottom: 1px solid transparent;
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.05S ease-in-out;
}

a.img-content:hover {
  color: #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  transition: all 0.75s ease-in-out;
  -webkit-transition: all 0.75 ease-in-out;
}

/* Creates small padding between attraction list and map.
============================================================*/
.item {
  padding-right: 1rem;
}


@media screen and (max-width: 980px) {
  html {
    font-size: 2.1rem;
  }
    .footer{
        font-size: .5em;
    }
}

#searchResults {
  max-height: 500px !important;
  overflow-y: auto;
}

/*********FOOTER**************/
.footer {
  background: black;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
    color: red;
}

.footer p span {
    width: 50%;
}

#demo {
  color: yellow;
}
