/* Center sear input in navbar
====================================*/
.navbar-collapse {
 justify-content: center;
 input {
  max-width: 20rem;
 }
}

.footer {
  background: black;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
}

.footer span {
  color: yellow;
}

#demo {
  color: red;
}

.btn-warning {
  background-color: yellow !important;
}
