<div class="container">
    <div class="row">
        {{#each this}}
            {{#if @index === 3 || @index === 6}}
                <div></div>
            {{else}}
                <div>{{name}}</div>
        {{/each}}
    </div>
</div>