<div class="card text-center" id="{{key}}">
  <div class="card-header">
    <h4>{{name}}</h4>
  </div>
  <div class="">
		<label>{{artist}} -  </label> <label>{{album}}
  </div>
  <div class="card-footer">
    {{> timestamp}}
  </div>
</div>